In [3]:
from datetime import datetime
import MetaTrader5 as mt5
import pandas as pd

In [4]:
mt5.initialize()

True

In [6]:

# Compute now date
from_date = datetime.now()

# Extract n Ticks before now
mt5.copy_ticks_from("EURUSD", from_date, 10, mt5.COPY_TICKS_ALL)

array([(1677153995, 1.05928, 1.05929, 0., 0, 1677153995146, 4, 0.),
       (1677153995, 1.05928, 1.05928, 0., 0, 1677153995806, 4, 0.),
       (1677153997, 1.05927, 1.05929, 0., 0, 1677153997049, 6, 0.),
       (1677153997, 1.05927, 1.05928, 0., 0, 1677153997263, 4, 0.),
       (1677153997, 1.05926, 1.05927, 0., 0, 1677153997372, 6, 0.),
       (1677153999, 1.05926, 1.05928, 0., 0, 1677153999655, 4, 0.),
       (1677153999, 1.05927, 1.05928, 0., 0, 1677153999785, 2, 0.),
       (1677153999, 1.05928, 1.05928, 0., 0, 1677153999920, 2, 0.),
       (1677154001, 1.05926, 1.05927, 0., 0, 1677154001415, 6, 0.),
       (1677154001, 1.05928, 1.05928, 0., 0, 1677154001544, 6, 0.)],
      dtype=[('time', '<i8'), ('bid', '<f8'), ('ask', '<f8'), ('last', '<f8'), ('volume', '<u8'), ('time_msc', '<i8'), ('flags', '<u4'), ('volume_real', '<f8')])

In [10]:
# Compute now date
from_date = datetime.now()

# Extract n Ticks before now
ticks = mt5.copy_ticks_from("EURUSD", from_date, 10, mt5.COPY_TICKS_ALL)

# Transform a tuple into a dataframe - something we can understand the ticks better.
df_ticks = pd.DataFrame(ticks)

# Convert number format of the date into date format.
df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2023-02-23 12:11:54,1.05918,1.05918,0.0,0,1677154314006,2,0.0
1,2023-02-23 12:11:54,1.05919,1.05919,0.0,0,1677154314258,6,0.0
2,2023-02-23 12:11:54,1.05920,1.05920,0.0,0,1677154314361,6,0.0
3,2023-02-23 12:11:54,1.05919,1.05920,0.0,0,1677154314923,2,0.0
4,2023-02-23 12:11:55,1.05918,1.05920,0.0,0,1677154315249,2,0.0
5,2023-02-23 12:11:56,1.05919,1.05920,0.0,0,1677154316952,2,0.0
6,2023-02-23 12:11:58,1.05920,1.05920,0.0,0,1677154318270,2,0.0
7,2023-02-23 12:11:58,1.05919,1.05920,0.0,0,1677154318395,2,0.0
8,2023-02-23 12:12:00,1.05919,1.05920,0.0,0,1677154320149,2,0.0
9,2023-02-23 12:12:00,1.05917,1.05918,0.0,0,1677154320269,6,0.0

In [12]:
# Compute now date
from_date = datetime(2023, 1, 5)
to_date = datetime(2023, 1, 6)

# Extract n Ticks before now (note that the last parameter can be modified to be something more useful
# depending on the strategy)
ticks = mt5.copy_ticks_range("EURUSD", from_date, to_date, mt5.COPY_TICKS_ALL)

# Transform Tuple into a DataFrame
df_ticks = pd.DataFrame(ticks)

# Convert number format of the date into date format.
df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2023-01-04 13:00:00,1.06207,1.06209,0.0,0,1672837200134,130,0.0
1,2023-01-04 13:00:00,1.06205,1.06207,0.0,0,1672837200574,134,0.0
2,2023-01-04 13:00:01,1.06206,1.06208,0.0,0,1672837201643,134,0.0
3,2023-01-04 13:00:04,1.06201,1.06203,0.0,0,1672837204841,134,0.0
4,2023-01-04 13:00:05,1.06204,1.06206,0.0,0,1672837205149,134,0.0
...,...,...,...,...,...,...,...,...
123385,2023-01-05 12:59:54,1.06182,1.06184,0.0,0,1672923594433,4,0.0
123386,2023-01-05 12:59:56,1.06181,1.06183,0.0,0,1672923596205,134,0.0
123387,2023-01-05 12:59:56,1.06184,1.06186,0.0,0,1672923596349,134,0.0
123388,2023-01-05 12:59:58,1.06186,1.06188,0.0,0,1672923598182,134,0.0
123389,2023-01-05 12:59:59,1.06187,1.06189,0.0,0,1672923599314,134,0.0